.section.cards-container {
  background-color: black;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.slider-container {
  padding: 64px 0 !important;
  .cards-slider-wrapper {
    background-color: black;
    max-width: unset !important;
    margin: 0 !important;
    .cards.slider {
      margin: 1rem 10rem;
      ul {
        li {
          min-width: 300px;
          max-width: 300px;
          min-height: 225px;
          max-height: 225px;
          column-gap: 30px;
          border: 1px solid black;
        }
      }
    }
  }

  .cards .cards-card-body {
    margin: 0 !important;
    strong {
      position: relative;
      font-size: 16px;
      bottom: 5rem;
      left: 0.6rem;
      color: white;
    }
  }
}

.cards .cards-card-body {
  padding: 24px;
  margin: 0 !important;
  p:first-child {
    font-size: 17.5px;
    margin: 0px 0px 10px;
    line-height: 21px;
  }
  p {
    font-size: 14px;
  }
}