footer {
  padding: 2rem;
  background-color: var(--background-dark-color);
  font-size: var(--body-font-size-s);

  picture {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    
    &::before {
      height: 2px;
      display: block;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      content: "";
    }
  }
}

footer .footer {
  width: 100%;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: var(--footer-link-color);
  font-size: 14px;
}

.columns.footer > div {
  display: flex;
  align-items: flex-start;
}

.columns.footer > div > div {
  color: var(--background-color);
  cursor: pointer;
  .head-title-link {
    margin-bottom: 24px;
    padding-bottom: 10px;
    font-size: 14px;
    color: var(--background-color);
    border-bottom: 1px solid var(--footer-link-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.columns.footer > div > div {
  * {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    color: var(--footer-link-color);

    &:hover {
      text-decoration: underline;
      color: var(--background-color);
    }
  }

  .button-container {
    display: flex;
  }
}

.columns.footer > div > div:last-child {
  margin-top: 24px;
  * {
    border: 2px solid var(--background-color);
    color: var(--background-color);
    text-align: center;
    padding: 0.6rem 1.5em;

    &:hover {
      color: var(--background-dark-color);
      background-color: var(--background-color);
      text-decoration: none;
    }
  }
}
